@import "defaults";
@import "variables";
@import "themes/{{ default "light" .Site.Params.BookTheme }}";

$font-heading: {{ default "Roboto" .Site.Params.heading_font }};
$font-body: {{ default "Roboto" .Site.Params.body_font }};
$font-code: {{ default "Roboto" .Site.Params.code_font }};

@import "normalize";
@import "utils";
@import "main";
@import "fonts";
@import "print";

@import "markdown";
@import "shortcodes";

// Custom defined styles
@import "custom";
