{{ $re := $.File.BaseFileName }} {{ $backlinks := slice }}
{{ range .Site.AllPages }}
   {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) (not (eq .Title "index")) (not (eq .Title "recent updates")) (not (eq .Title "Index"))}}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}
{{ if gt (len $backlinks) 0 }}
<div class="bl-section">
<h2>Links to this note</h2>
<div class="backlinks">
<ul>
       {{ range $backlinks }}
<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
       {{ end }}
</ul>
</div>
</div>
{{ end }}
